.foodHistory {
    grid-area: 5/1/6/2;
    background-color: #392B58;
    border-radius: 2rem;
    width: 20rem;
    height: 34rem;
    margin-top: 4rem;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 24px 0px #392B58;
    -moz-box-shadow: 0px 0px 24px 0px #392B58;
    box-shadow: 0px 0px 24px 0px #392B58;
    overflow: auto;
}

.foodHistory::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.foodHistory h1 {
    color: white;
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
    color: white;
    border: white 2px solid;
    padding: 0.8rem;
    border-radius: 1rem;
}

/* Search bar <from> */
.searchBarForm {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    width: 100%;
}

.searchBarForm input {
    background-color: white;
    width: 70%;
    border: #687A9D 3px solid;
    height: 2rem;
    border-radius: 0.2rem;
    color: #645E9D;
    font-size: 100%;
    font-weight: 900;
    transition: 0.5s ease-in-out;
}

.searchBarForm input:focus {
    outline: none !important;
    border: 3px solid #99D5C9;
}

/* Food history <ul> */
.foodHistory ul {
    margin: 0 0 3rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.foodHistory ul li {
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    border: #687A9D 3px solid;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.foodHistory ul li button {
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
    border: white 2px solid;
    background-color: #645E9D;
    color: white;
    font-weight: 900;
    border-radius: 0.8rem;
    align-self: center;
}

.foodHistory ul li button:focus {
    outline: 0;
}

.foodHistory ul li button:active {
    background-color: #687A9D;
}

