.nutriCalc {
    grid-area: 3/1/4/2;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0;
    background-color: #392B58;
    width: 20rem;
    height: 34rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 24px 0px #392B58;
    -moz-box-shadow: 0px 0px 24px 0px #392B58;
    box-shadow: 0px 0px 24px 0px #392B58;
}

.nutriCalc h1 {
    color: white;
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
    color: white;
    border: white 2px solid;
    padding: 0.8rem;
    border-radius: 1rem;
}

.nutriCalcForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1rem 0 1rem 0;
}

.nutriCalcForm label {
    margin-top: 1rem;
    align-self: flex-start;
    color: white;
    font-weight: 800;
    margin-bottom: 0.2rem;
}

.nutriCalcForm input {
    background-color: white;
    width: 100%;
    border: #687A9D 3px solid;
    height: 2rem;
    border-radius: 0.2rem;
    color: #645E9D;
    font-size: 100%;
    font-weight: 900;
    transition: 0.5s ease-in-out;
}

.nutriCalcForm input:focus {
    outline: none !important;
    border: 3px solid #99D5C9;

}

.nutriCalcForm button {
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
    border: white 2px solid;
    background-color: #645E9D;
    color: white;
    font-weight: 900;
    border-radius: 0.8rem;
    transition: 0.2s ease-in-out;

}

.nutriCalcForm button:focus {
    outline: 0;
}

.nutriCalcForm button:active {
    background-color: #687A9D;
}




/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}