.logoutBtn {
    grid-area: 1/1/2/2;
    justify-self: center;
    align-self: flex-end;
    height: 2rem;
    width: 10rem;
    border: white 2px solid;
    background-color: #645E9D;
    color: white;
    font-weight: 900;
    border-radius: 0.8rem;
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 24px 0px #392B58;
    -moz-box-shadow: 0px 0px 24px 0px #392B58;
    box-shadow: 0px 0px 24px 0px #392B58;
    z-index: 0;
    margin-bottom: 1rem;
}