* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Orienta', sans-serif;
}

body {
    max-width: 100vw;
    height: 100vh;
    background-color: #645E9D;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #687A9D;
    border-radius: 5px
}