.foodList {
    grid-area: 2/2/2/4;
    background-color: #392B58;
    border-radius: 5rem 1rem 1rem 1rem;
    width: 25rem;
    height: 34rem;
    margin-left: 5rem;
    margin-top: 4rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 24px 0px #392B58;
    -moz-box-shadow: 0px 0px 24px 0px #392B58;
    box-shadow: 0px 0px 24px 0px #392B58;
    overflow: auto;
}

.foodList::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
}

.foodList h1 {
    color: white;
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
    color: white;
    border: white 2px solid;
    padding: 0.8rem;
    border-radius: 1rem;
}

.foodList ul {
    margin: 0 0 3rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.foodList ul li {
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    border: #687A9D 3px solid;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 2rem;
}

.foodList ul li button {
    margin-top: 1rem;
    height: 2rem;
    width: 10rem;
    border: white 2px solid;
    background-color: #645E9D;
    color: white;
    font-weight: 900;
    border-radius: 0.8rem;
    align-self: center;
}

.foodList ul li button:focus {
    outline: 0;
}

.foodList ul li button:active {
    background-color: #687A9D;
}